* {
  font-family: "REM", sans-serif;
}

body {
  background-color: black;
}

.container {
  max-width: 1062px;
  margin: 0 auto;
  padding: 0 32px;
}

.header-logo {
  width: 150px;
}

.header-logo img {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  padding: 29px 0;
  justify-content: space-between;
  position: relative;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 64px;
}
.header-right {
  display: flex;
}

.header-right button {
  border: none;
  background-color: red;
  border-radius: 5px;
  margin-right: 24px;
  font-size: 20px;
  color: white;
  margin-left: 30px;
  padding: 6 10;
}

.header-right select {
  background-color: none;
  border: none;
  background-color: transparent;
  color: white;
}

.background {
  background-color: black;
  background-image: url(../img/netflix-background.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  position: relative;
  background-position: center;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.8) 100%
  );
  width: 100%;
  height: 100%;
}

.center1 {
  position: relative;
  text-align: center;
  font-size: 1.2cm;
  margin-top: 150px;
  padding: 11px 0;
  color: white;
}

.center2 {
  position: relative;
  text-align: center;
  font-size: 0.75cm;
  padding: 11px 0;
  color: white;
}

.center3 {
  position: relative;
  text-align: center;
  font-size: 0.5cm;
  padding: 11px 0;
  color: white;
}
.type_box {
  align-items: center;
  display: flex;
  justify-content: center;
}
.type_box input {
  position: relative;
  padding: 20px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: transparent;
  width: 30%;
  font-size: 15px;
}

.type_box input::placeholder {
  color: white;
}

.type_box button {
  border: none;
  padding: 18px 10px;
  background-color: red;
  border-radius: 5px;
  margin-right: 24px;
  font-size: 20px;
  color: white;
  margin-left: 5px;
}

.Enjoy_TV {
  color: white;
  display: flex;
  align-items: center;
}

.Enjoy_TV_left h1 {
  font-size: 50px;
}

.Enjoy_TV_left p {
  font-size: 25px;
  margin-top: 20px;
}

.Enjoy_TV_right {
  position: relative;
}
.Enjoy_TV_right video {
  position: absolute;
  top: 95px;
  left: 78px;
}
.Enjoy_TV_right img {
  position: relative;
  z-index: 50;
}

.phone {
  width: 500px;
}

.download_left_bottom {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid rgba(128, 128, 128, 0.7);
  box-shadow: 0 0 2em 0 rgb(0, 0, 0);
  border-radius: 0.75rem;
  z-index: 1;
  padding: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  background-color: black;
}

.download_left {
  width: 500px;
  position: relative;
}

.downloading_film {
  height: 80px;
}

.downloading {
  height: 60px;
}

.download_text h1 {
  color: white;
  font-size: smaller;
}
.download_text p {
  color: blue;
}

.download {
  display: flex;
}

.download_right {
  display: flex;
  flex-direction: column;
  color: white;
  width: 450px;
  justify-content: center;
  gap: 20px;
}

.download_right h1 {
  font-size: 3rem;
  font-weight: 900;
}

.download_right p {
  font-size: 1.5rem;
  font-weight: 400;
}

.border_divide {
  background-color: #232323;
  width: 100%;
  height: 10px;
}

.device {
  display: flex;
}

.device_right {
  position: relative;
}

.device_right video {
  position: absolute;
  height: 183px;
  top: 43px;
  left: 101px;
}

.device_right img {
  height: 400px;
  position: relative;
  z-index: 50;
}

.device_left {
  color: white;
  display: flex;
  flex-direction: column;
  color: white;
  width: 450px;
  justify-content: center;
  gap: 20px;
}

.device_left h1 {
  font-size: 3rem;
  font-weight: 900;
}

.device_left p {
  font-size: 1.5rem;
  font-weight: 400;
}
