* {
  font-family: "REM", sans-serif;
}

body {
  background-color: black;
}

.container {
  max-width: 1062px;
  margin: 0 auto;
  padding: 0 32px;
}

.header-logo {
  width: 150px;
}

.header-logo img {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  padding: 29px 0;
  justify-content: space-between;
  position: relative;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 64px;
}
.header-right {
  display: flex;
  position: relative;
}

.header-right button {
  border: none;
  background-color: red;
  border-radius: 5px;
  margin-right: 24px;
  font-size: 20px;
  color: white;
  margin-left: 30px;
  padding: 6 10;
}

.header-right select {
  background-color: none;
  background-color: transparent;
  color: white;
  padding: 6px 36px;
  font-size: 15px;
  border-radius: 5px;
}

.header-right i {
  color: white;
  position: absolute;
  font-size: 20px;
  top: 8px;
  left: 12px;
}

.background {
  background-color: black;
  background-image: url(../img/netflix-background.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  position: relative;
  background-position: center;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.8) 100%
  );
  width: 100%;
  height: 100%;
}

.center1 {
  position: relative;
  text-align: center;
  font-size: 1.2cm;
  margin-top: 150px;
  padding: 11px 0;
  color: white;
}

.center2 {
  position: relative;
  text-align: center;
  font-size: 0.75cm;
  padding: 11px 0;
  color: white;
}

.center3 {
  position: relative;
  text-align: center;
  font-size: 0.5cm;
  padding: 11px 0;
  color: white;
}
.type_box {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}
.type_box input {
  position: relative;
  padding: 20px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: transparent;
  width: 30%;
  font-size: 15px;
}

.type_box input::placeholder {
  color: white;
}

.type_box button {
  border: none;
  padding: 18px 10px;
  background-color: red;
  border-radius: 5px;
  margin-right: 24px;
  font-size: 20px;
  color: white;
  margin-left: 5px;
}

.Enjoy_TV {
  color: white;
  display: flex;
  align-items: center;
}

.Enjoy_TV_left h1 {
  font-size: 50px;
}

.Enjoy_TV_left p {
  font-size: 25px;
  margin-top: 20px;
}

.Enjoy_TV_right {
  position: relative;
}
.Enjoy_TV_right video {
  position: absolute;
  top: 95px;
  left: 78px;
}
.Enjoy_TV_right img {
  position: relative;
  z-index: 50;
}

.phone {
  width: 500px;
}

.download_left_bottom {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid rgba(128, 128, 128, 0.7);
  box-shadow: 0 0 2em 0 rgb(0, 0, 0);
  border-radius: 0.75rem;
  z-index: 1;
  padding: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  background-color: black;
}

.download_left {
  width: 500px;
  position: relative;
}

.downloading_film {
  height: 80px;
}

.downloading {
  height: 60px;
}

.download_text h1 {
  color: white;
  font-size: smaller;
}
.download_text p {
  color: blue;
}

.download {
  display: flex;
}

.download_right {
  display: flex;
  flex-direction: column;
  color: white;
  width: 450px;
  justify-content: center;
  gap: 20px;
}

.download_right h1 {
  font-size: 3rem;
  font-weight: 900;
}

.download_right p {
  font-size: 1.5rem;
  font-weight: 400;
}

.border_divide {
  background-color: #232323;
  width: 100%;
  height: 10px;
}

.device {
  display: flex;
}

.device_right {
  position: relative;
}

.device_right video {
  position: absolute;
  height: 183px;
  top: 43px;
  left: 101px;
}

.device_right img {
  height: 400px;
  position: relative;
  z-index: 50;
}

.device_left {
  color: white;
  display: flex;
  flex-direction: column;
  color: white;
  width: 450px;
  justify-content: center;
  gap: 20px;
}

.device_left h1 {
  font-size: 3rem;
  font-weight: 900;
}

.device_left p {
  font-size: 1.5rem;
  font-weight: 400;
}

.kids_right img {
  height: 400px;
  padding-top: 30px;
}

.kids_left {
  color: white;
  padding-top: 50px;
}

.kids_left h1 {
  font-size: 3rem;
  font-weight: 900;
  padding: 20px;
}

.kids_left p {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 20px;
}

.kids {
  display: flex;
}

.container_login {
  max-width: 550px;
  margin: 0 auto;
  padding: 0 32px;
}

.background {
}

.netflix {
  width: 200px;
}

.netflix img {
  position: relative;
  width: 100%;
}

.sign_in {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 30px;
  height: 600px;
}

.sign_in_header {
  color: white;
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 40px;
  margin-top: -12rem;
  margin-left: -11rem;
  position: relative;
}

.sign_in_center_option {
  flex-direction: row;
}

.sign_in_center {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.sign_in_center input:first-child(1) {
  margin-top: 1rem;
}

/* .sign_in_center .btn_login {
  width: 400px;
  position: relative;
}

.sign_in_center .btn_login button {
  width: 100%;
  position: absolute;
} */

.sign_in_center .btn_login {
  margin-left: -1.6rem;
}

.sign_in_center .btn_login button {
  padding: 15px 20px;
  width: 295px;
}

.sign_in_center input {
  background-color: none;
  border: none;
  background-color: #333;
  border-radius: 4px;
  height: 50px;
  padding: 10px;
  margin: 3px;
  color: white;
  margin-bottom: 1rem;
}

.sign_in_center p {
  color: #b3b3b3;
}

.sign_in_center button {
  border: none;
  background-color: red;
  border-radius: 5px;
  margin-right: 24px;
  font-size: 20px;
  color: white;
  margin-left: 30px;
  padding: 6 10;
}

.sign_in_center_option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.sign_in_center_option .RememberMe {
  display: flex;
  align-items: center;
}

.sign_in_center_option a {
  margin-top: -1.1rem;
}

.sign_in_center_option .RememberMe p {
  margin-top: -1rem;
}

.Frequently_Asked_Questions {
  color: white;
}

.Frequently_Asked_Questions_header h1 {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  padding-top: 70px;
  padding-bottom: 30px;
}

.Frequently_Asked_Questions_content {
  height: 600px;
}

.Frequently_Asked_Questions_content p {
  font-size: 25px;
}

.help_bar {
  width: 100%;
  display: flex;
  margin: 15px;
  padding: 30px;
  border: none;
  background-color: #333;
  justify-content: space-between;
}

.help_bar i {
  font-size: 25px;
}

.Frequently_Asked_Questions_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.Frequently_Asked_Questions_footer {
  font-size: 20px;
}

.input_section {
  width: 634px;
}

.input_section input {
  position: relative;
  padding: 20px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: transparent;
  width: 70%;
  font-size: 15px;
}

.input_section button {
  border: none;
  padding: 18px 10px;
  background-color: red;
  border-radius: 5px;
  margin-right: 24px;
  font-size: 20px;
  color: white;
  margin-left: 5px;
}

.help_option {
  margin-right: 157.172px;
  margin-left: 157.172px;
  padding: 60px;
  position: relative;
}

.help_option .help_option_center .faq a,
.help_option .help_option_center .Help_center a,
.help_option .help_option_center .Account a,
.help_option .help_option_header a {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

.help_option_center {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.help_option_footer {
  padding-top: 10px;
  position: relative;
}
.help_option_footer p {
  color: white;
  padding-top: 10px;
}
.help_option_footer select {
  background-color: none;
  background-color: transparent;
  color: white;
  padding: 6px 36px;
  font-size: 15px;
  border-radius: 5px;
}

.help_option_footer i {
  position: absolute;
  color: white;
  top: 16px;
  left: 10px;
  font-size: 24px;
}
